@font-face {
	font-family: "LemonMilk";
	src:  url("../assets/LemonMilk.otf");
}

body {
	background-color: #332A4D;
}

#applyPage {
	text-align: center;
}
#applyPage > svg {
	height: 75vh;
}

#applyGroup {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "LemonMilk";
	color: white;
}